.content_container {
  height: calc(100vh - 120px);
  background-color: whitesmoke;
  width: 100%;
}

.overflowhome {
  overflow: hidden;
  border-top-right-radius: 0px;
  border-top-left-radius: 50px;
}

@media (max-width: 1024px) {
.overflowhome {
  overflow: hidden;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}
}