// @import "@/styles/_var.module.scss";
@import "../../../../styles/var.module";


.title {

    text-align: left;
    color: #4c4c4c;
    margin-left: 0%;
    // font-family: $font-family;
    // font-size: $text-size-large;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 4px;

}